app-fly-panel {
    .mat-tab-labels {
        background-color: #29539b;
        background-image: linear-gradient(215deg, #1e3b70 23%, #29539b 10%);
    }
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #fff !important;
    }
    .mat-tab-label-content {
        color: #fff;
        font-size: 16px;
    }
    .mat-list-item-content {
        color: #fff;
    }
    .mat-tab-body {
        padding-top: 10px;
    }
    mat-expansion-panel {
        background: #0d47a1;
    }
    .mat-list-item {
        height: 21px;
    }
    .mat-divider {
        background-color: #6daddb;
        margin: 20px 0px;
    }

    h6 {
        font-size: 15px;
        font-weight: 500;
        padding-left: 31px;;
    }
    .item-header,
    .item-detail,
    .mat-list-base .mat-list-item,
    .mat-list-item {
        font-size: 13px;
        color: #ccc;
        height: auto;
    }

    .warn {
        background: #ff0000;
    }
}
